.theme-mode{
    background: 0 0;
    border: 1px solid #98ca3f;
    border-radius: 8px;
    color: #98ca3f;
    cursor: pointer;
    display: block;
    font-size: .75rem;
    font-weight: 700;
    margin-right: 12px;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;   
}